@model MVCapp1.Models.Product
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description - Price = @Model.Price</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>